<!DOCTYPE html >
<html>
	
<head>
	    <!-- Required meta tags -->
		<link rel="shortcut icon" href="#">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Add a new place</title>
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <!--Head Scripts for Google Places API-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWFVUN1d9ULXH0vKDW7Hmwu0F4Z0hLArs&libraries=places"></script>
    <script>
// Initialize Google Places autocomplete
// Modify your existing JavaScript function to handle the selection event
function initAutocomplete() {
    var input = document.getElementById('id_address_input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    // Listen for the 'place_changed' event
    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();

        // Extract the county and district from the place result
        var addressComponents = place.address_components;
        var county = "";
        var district = "";

        // Loop through the address components to find the county and district
        addressComponents.forEach(function(component) {
            if (component.types.includes('administrative_area_level_4')) {
                district = component.long_name;
            } else if (component.types.includes('administrative_area_level_2')) {
                county = component.long_name;
            }
        });

        // Populate the County and District form fields
        document.getElementById('id_county').value = county;
        document.getElementById('id_district').value = district;
    });
}

    </script>
  </head>
<body style="background-color: #222222;">
	{% include 'base/navbar.html' %}
	<center><h1 style="color: #eeeeee;">Welcome {{request.user}}{{google_api_key}}!</h1></center>
	<br>
	{% if request.user.is_authenticated %}
    <center style="color: #eeeeee;">
        <form method="post" action="{% url 'logout-user' %}">
            {% csrf_token %}
            <button style='border-radius: 40%; cursor: pointer;' type="submit">Logout</button>
        </form>
    </center><br>
{% endif %}

  <!-- Page content -->
<!-- Page content -->
<div style="background-color: #410139;
	margin-left: 20%;
	padding: 10px 16px;
	max-width: 60%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);" id='content-list'>
    <div style="font-size:medium ; margin: 0 25%; color: whitesmoke;">
      <h2><u>Add a New Place</u></h2><br>
      <form method="post" action="{% url 'create-place' %}">
        {% csrf_token %}
        
        <div class="form-group col-sm-1">
          <label for="{{ form.name.id_for_label }}">Name:</label>
          {{ form.name }}
        </div>
        <div class="form-group col-sm-1">
            <label for="{{ form.address.id_for_label }}">Address:</label>
            <input style='color: black;width: 300px' type="text" class="form-control" id="id_address_input" name="address" placeholder="Enter address">
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.county.id_for_label }}">County:</label>
            {{ form.county }}
          </div>  
        <div class="form-group col-sm-1">
          <label for="{{ form.district.id_for_label }}">District:</label>
          {{ form.district }}
        </div>
        <div class="form-group col-sm-1">
            <label for="{{ form.place_type.id_for_label }}">Place Type:</label>
            {{ form.place_type }}
          </div>
        <div class="form-group col-sm-1">
            <label for="{{ form.price_category.id_for_label }}">Price Category:</label>
            {{ form.price_category }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.loudness.id_for_label }}">Loudness Level:</label>
            {{ form.loudness }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.largegroup.id_for_label }}">Fit for large groups?</label>
            {{ form.largegroup }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.alone.id_for_label }}">Fit for alone time?</label>
            {{ form.alone }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.dateable.id_for_label }}">Date-Proof?</label>
            {{ form.dateable }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.kitchen.id_for_label }}">Kitchen available?</label>
            {{ form.kitchen }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.smoke.id_for_label }}">Smoking Allowed?</label>
            {{ form.smoke }}
          </div> 
          <div class="form-group col-sm-1">
            <label for="{{ form.door_policy.id_for_label }}">Is there a door policy?</label>
            {{ form.door_policy }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.readable.id_for_label }}">Readable?</label>
            {{ form.readable }}
          </div>
          <div class="form-group col-sm-1">
            <label for="{{ form.workable.id_for_label }}">Workable?</label>
            {{ form.workable }}
          </div>
        <div class="form-group col-sm-1">
            <label for="{{ form.comment.id_for_label }}">Comments or Special Recommendations</label>
            {{ form.comment }}
          </div>
        <!-- Add other fields as needed -->
  
        <button type="submit" class="btn btn-primary">Create Place</button>
      </form>
    </div>
  </div>
  
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<style>

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
form input, form textarea,
    form select {
        background-color: #d9e8f7; /* Light gray background color */
    }

/* Increase the size of checkbox inputs */
input[type="checkbox"] {
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
}

/* Style for checkbox labels */
input[type="checkbox"] + label {
    padding-left: 5.5em; /* Add some padding to align the label with the checkbox */
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>

<script>

    // document.addEventListener('htmx:afterRequest', function (event) {
    //     var responseString = event.detail.xhr.response;
    //     try{
    //     var response = JSON.parse(responseString);
    //     var districts = response.districts;
    //     console.log(response);
    //     console.log(districts);
    //     var districtSelect = document.getElementById('district');
    //     console.log(districtSelect);
    //     // Check if the target element exists
    //     if (districtSelect) {
    //         // Clear existing options
    //         districtSelect.innerHTML = '<option value="">All</option>';

    //         // Populate with received options
    //         response.districts.forEach(function (district) {
    //             var optionElement = document.createElement('option');
    //             optionElement.value = district;
    //             optionElement.text = district;
    //             // console.log('OPtionelement',optionElement);
    //             districtSelect.appendChild(optionElement);
    //         });
    //     }
    //     // Optional: Update a separate container with the received options
    //     var districtOptionsContainer = document.getElementById('district-options');
    //     if (districtOptionsContainer) {
    //         districtOptionsContainer.innerHTML = JSON.stringify(response.districts, null, 2);
    //     }}catch(error){}
    // });

</script>
<!--Scripts for Google Places API-->

    <script>
    window.onload = function() {
            initAutocomplete();
        };


//         $(document).ready(function() {
//     $('#id_address_input').on('input', function() {
//         var address = $(this).val();
//         if (address.length > 2) { // Adjust the minimum length as needed
//             $.ajax({
//                 url: '{% url "address_autocomplete" %}',
//                 method: 'GET',
//                 data: {
//                     'address': address
//                 },
//                 success: function(response) {
//                     console.log('Autocomplete results:', response);
//                     // Handle autocomplete results, e.g., display in a dropdown
//                 },
//                 error: function(xhr, status, error) {
//                     console.error('Error fetching autocomplete results:', error);
//                 }
//             });
//         }
//     });
// });



// document.getElementById('id_address_input').addEventListener('input', function(event) {
//         // Extract the input value
//         var address = event.target.value;
//         console.log('listener event');
//         console.log('JS address: ',address);
//         // Make a fetch request to the address_autocomplete endpoint
//         fetch('{% url "address_autocomplete" %}', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json',
//                 'X-CSRFToken': '{{ csrf_token }}'  // Add CSRF token header
//             },
//             body: JSON.stringify({ address: address })  // Send the address as JSON data
//         })
//         .then(response => response.json())
//         .then(data => {
//             // Handle the response data (e.g., update UI with autocomplete results)
//             console.log(data);
//         })
//         .catch(error => {
//             console.error('Error:', error);
//         });
//     });
</script>